<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="V5.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-3.4532E-05 -0.0050156 -0.050866"
        rpy="0 0 0" />
      <mass
        value="1.4027" />
      <inertia
        ixx="0.0075822"
        ixy="9.4686E-09"
        ixz="5.9781E-07"
        iyy="0.001593"
        iyz="-5.3742E-08"
        izz="0.0077555" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel_1">
    <inertial>
      <origin
        xyz="6.93889390390723E-18 0.00603555869043271 0"
        rpy="0 0 0" />
      <mass
        value="0.00590169582076795" />
      <inertia
        ixx="3.37315772000257E-07"
        ixy="-4.96132534509739E-23"
        ixz="-3.97046694025453E-23"
        iyy="5.82849097669195E-07"
        iyz="-1.86981342082792E-22"
        izz="3.37315772000257E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./wheel_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./wheel_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_1"
    type="continuous">
    <origin
      xyz="0.013946 0.0813 0.0069746"
      rpy="-1.8414 0.38137 2.5012" />
    <parent
      link="base_link" />
    <child
      link="wheel_1" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_2">
    <inertial>
      <origin
        xyz="-6.9389E-18 0.019217 1.3878E-17"
        rpy="0 0 0" />
      <mass
        value="0.0059017" />
      <inertia
        ixx="3.3732E-07"
        ixy="-3.9705E-23"
        ixz="-6.6174E-24"
        iyy="5.8285E-07"
        iyz="2.647E-23"
        izz="3.3732E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./wheel_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./wheel_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_2"
    type="continuous">
    <origin
      xyz="-0.029537 0.058048 0.018764"
      rpy="-2.0099 -0.15431 2.8253" />
    <parent
      link="base_link" />
    <child
      link="wheel_2" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_3">
    <inertial>
      <origin
        xyz="0 0.0060333 -1.7347E-18"
        rpy="0 0 0" />
      <mass
        value="0.0059017" />
      <inertia
        ixx="3.3732E-07"
        ixy="-8.0712E-24"
        ixz="-1.3235E-23"
        iyy="5.8285E-07"
        iyz="-8.1041E-23"
        izz="3.3732E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./wheel_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./wheel_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_3"
    type="continuous">
    <origin
      xyz="-0.013942 0.0187 0.0069726"
      rpy="-1.2563 -0.34664 2.3779" />
    <parent
      link="base_link" />
    <child
      link="wheel_3" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="wheel_4">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./wheel_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="./wheel_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_joint_4"
    type="continuous">
    <origin
      xyz="0.0295425000000004 0.0320691434846872 -0.000997831586259601"
      rpy="-1.20069707276914 0.286126294710011 2.51267367188149" />
    <parent
      link="base_link" />
    <child
      link="wheel_4" />
    <axis
      xyz="0 1 0" />
  </joint>
</robot>